/*  Basic Styling */
.mainbody {
    background-color: rgb(68, 66, 66);
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    
}

h1, p, h2 {
    color: white;
}

ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}

.card__main {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: rgb(116, 116, 209);
}
.card__main1 {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: rgb(177, 209, 116);
}
.card__main2 {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: rgb(209, 116, 181);
}
.card__main3 {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: mediumturquoise;
}
.card__main4 {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: pink;
}
.card__main5 {
    height: 150px;
    width: 250px;
    margin: 25px;
    align-items: center;
    background-color: greenyellow;
}

.card__name{
    font-size: 25px;
    font-weight: bold;
}

.card__name span {
    font-size: 15px;
}

.card__total {
    font-size: 20px;
    font-weight: bold;

}
.card:hover{
    transform: scale(1.1);
};